In [1]:
#importing pandas linrary
import pandas as pd
#importing numpy library
import numpy as np

In [2]:
#uploading the dataset
df = pd.read_csv('Autolib_dataset.csv')

In [3]:
#previewing our first 10 rows
df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [4]:
#getting information on our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [5]:
df.drop(['Displayed comment', 'Scheduled at'], axis = 1, inplace = True)
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 23 columns]

In [6]:
#No syntax error
df['Address']

0                      2 Avenue de Suffren
1                145 Rue Raymond Losserand
2         2 Avenue John Fitzgerald Kennedy
3                   51 Rue EugÃ¨ne OudinÃ©
4       6 avenue de la Porte de Champerret
                       ...
4995                   8 avenue MÃ©nelotte
4996                     37 rue de Dantzig
4997                        142 rue du Bac
4998           2 avenue du Val de Fontenay
4999                   5 Rue Henry Brisson
Name: Address, Length: 5000, dtype: object

In [7]:
#checking for missing values
print(df.isnull().sum().sum())

0

In [8]:
#Dropping duplicates
df.drop_duplicates()

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 23 columns]

In [10]:
#Configuring time
from datetime import datetime
df['Time'] = pd.to_datetime(df[['year','month','day','hour','minute']])
df

                                 Address  Cars  ...  minute                Time
0                    2 Avenue de Suffren     0  ...      43 2018-04-08 11:43:00
1              145 Rue Raymond Losserand     6  ...      24 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...      37 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret     3  ...      23 2018-04-08 17:23:00
...                                  ...   ...  ...     ...                 ...
4995                 8 avenue MÃ©nelotte     2  ...      26 2018-04-06 11:26:00
4996                   37 rue de Dantzig     4  ...      56 2018-04-04 16:56:00
4997                      142 rue du Bac     1  ...       1 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay     2  ...      27 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson     4  ...       2 2018-04-08 10:02:00

[5000 rows x 24 columns]

In [11]:
#Exporting the cleaned dataset
df.to_csv('Autolib1.csv')

In [3]:
dat= pd.read_csv('Autolib1.csv')
dat.head()

   Unnamed: 0                             Address  ...  minute                 Time
0           0                 2 Avenue de Suffren  ...      43  2018-04-08 11:43:00
1           1           145 Rue Raymond Losserand  ...      24  2018-04-06 07:24:00
2           2    2 Avenue John Fitzgerald Kennedy  ...      14  2018-04-03 20:14:00
3           3              51 Rue EugÃ¨ne OudinÃ©  ...      37  2018-04-04 04:37:00
4           4  6 avenue de la Porte de Champerret  ...      23  2018-04-08 17:23:00

[5 rows x 25 columns]

In [4]:
#Listing Bluecar counter and hour column and grouping them
ds= dat.groupby(['Address','Postal code'], as_index=False)['Bluecar counter','hour'].agg(lambda x: list(x))
                  
         
ds

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                      Address  ...                        hour
0                           1 Avenue Gambetta  ...                [15, 20, 13]
1                            1 Avenue Marceau  ...              [16, 22, 6, 6]
2             1 Avenue du GÃ©nÃ©ral GalliÃ©ni  ...              [6, 2, 17, 12]
3                           1 Boulevard Murat  ...   [3, 7, 13, 6, 18, 18, 10]
4                             1 Place Ferrari  ...  [18, 21, 5, 11, 11, 1, 10]
...                                       ...  ...                         ...
1100                       99 Boulevard Arago  ...         [4, 12, 21, 11, 15]
1101                             99 Rue Monge  ...                     [15, 1]
1102                 99 rue Charles-de-Gaulle  ...         [20, 11, 23, 6, 23]
1103  Place Montgolfier - Parking Montgolfier  ...      [22, 17, 19, 8, 3, 17]
1104                          Quai de SÃ¨vres  ...            [1, 7, 2, 5, 16]

[1105 rows x 4 columns]

In [5]:
ds1 = ds[['Bluecar counter']]
ds1.head()

         Bluecar counter
0              [0, 0, 3]
1           [1, 0, 0, 0]
2           [5, 1, 6, 2]
3  [0, 3, 2, 3, 4, 1, 3]
4  [2, 6, 4, 0, 3, 4, 5]

In [8]:
ds1["Bluecar counter"]= ds1["Bluecar counter"].astype(int)
ds1.head()

ValueError: ignored